<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All profs</h2><br>   
    <table border : 1px'>
        <tr>
            <td>Abdelwahed</td>
            <td>Nesd</td>
            <td>09/07/1988</td>
            <td>BT741587</td>
            <td>io513596547</td>
        </tr>
        <tr>
            <td><%= name %></td>
            <td>Janori</td>
            <td>07/07/1977</td>
            <td>UJ125744</td>
            <td>PO157482478</td>
        </tr>
    </table>
</body>
</html>